<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>わかめtube-modのリンク集</title>

    <li><a href="https://tropical-geode-aragosaurus.glitch.me/home.pdf" target="_blank">https://tropical-geode-aragosaurus.glitch.me/home.pdf</a></li>
    new!りんく↓
    <li><a href="https://www.daj.jp.cky.cl/home.pdf" target="_blank">https://www.daj.jp.cky.cl/home.pdf</a></li>
     わかめtubeではないけど(プロキシ)↓
    <li><a href="準備中" target="_blank">準備中</a></li>
     ほしいサイト募集↓
    <li><a href="https://forms.gle/Wu3pv7obSJVQ3ih47" target="_blank">https://forms.gle/Wu3pv7obSJVQ3ih47</a></li>
</html>
