<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>リダイレクト...</title>
    <link rel="apple-touch-icon" sizes="144x144" href="https://uploads.scratch.mit.edu/get_image/project/1068152212_144x144.png">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="shortcut icon" href="https://uploads.scratch.mit.edu/get_image/project/1068152212_144x144.png">
    <script src="/js/bootstrap.min.js"></script>
    <style>
    .error {
      color: red;
    }
    .details {
      color: gray;
      font-size: small;
      white-space: pre-wrap;
    }
  </style>

<div class="fu" id="border">
        <b><p id="realtime"></p></b></div>
</div>
 <script id="_wauwnn">var _wau = _wau || []; _wau.push(["classic", "4fc3tv76l2", "wnn"]);</script><script async src="//waust.at/c.js"></script>
<body>

  </head>
<body>
 <header>
    <div class="banner">
      <button class="btn btn-link" onclick="window.location.href='/home.pdf'">ホーム🏠</button>
      <form class="d-flex" action="/s.pdf">
        <input type="text" name="q" class="form-control" placeholder="検索..." required>
      </form>
      
    </div>
  </header>
     <script>setTimeout(function(){location.reload();},1000);</script>

  </p>
<script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</body>
</html>
