<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>正解です</title>

    <div class="fu" id="border">
        <b><p id="realtime"></p></b></div>
</div>
    <script id="_wauwnn">var _wau = _wau || []; _wau.push(["classic", "4fc3tv76l2", "wnn"]);</script><script async src="//waust.at/c.js"></script>
<body>
    
    <button class="btn btn-link" onclick="window.location.href='/home.pdf'">正解です！ここを押してください</button>

<h1>(ログイン状態は5日間保持されます)</h1>
<h2>(パスワードは変更される場合があります)</h2>
<h3>(このわかめtubeはいつかは停止します)</h3>
<h4>(プライベートブラウズやシークレットモードを使用している場合 開くたびにパスワードを入力する必要があります) (多分)</h4>
<script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</html>




