<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>承認されました！</title>
    <link rel="shortcut icon" href="https://www.youtube.com/s/desktop/c01ea7e3/img/logos/favicon_144x144.png">

    <div class="fu" id="border">
        <b><p id="realtime"></p></b></div>
</div>
    <script id="_wauwnn">var _wau = _wau || []; _wau.push(["classic", "4fc3tv76l2", "wnn"]);</script><script async src="//waust.at/c.js"></script>
<body>
    
    <button class="btn btn-link" onclick="window.location.href='/home.pdf'">ここを押してください</button>

<p>by iPad4610<br>
<p>(ログイン状態は5日間保持されます)<br>
<p>(このわかめtubeはいつかは停止します)<br>
<p>(プライベートブラウズやシークレットモードを使用している場合 開くたびにパスワードを入力する必要があります) (多分)<br>
<script src="//accaii.com/wakametube/script.js" async></script><noscript><img src="//accaii.com/wakametube/script?guid=on"></noscript>
</html>




